{
  "runtime": {
    "majorVersion": "8"
  },
  "command": "java -jar spring-cloud-dataflow-server-accs-1.0.0-SNAPSHOT.jar --server.port=$PORT --maven.remote-repositories.repo1.url=<Maven repository> --maven.remote-repositories.repo1.auth.username=<Maven repo username> --maven.remote-repositories.repo1.auth.password=<Maven repo password> --spring.cloud.dataflow.applicationProperties.stream.spring.cloud.stream.kafka.binder.brokers=$OEHPCS_EXTERNAL_CONNECT_STRING --spring.cloud.dataflow.applicationProperties.stream.spring.cloud.stream.kafka.binder.zkNodes=<zookeeper_host>:<port>",
  "startupTime": 120,
  "notes": "Spring Cloud Data Flow server on Oracle Application Container Cloud"
}
